*.pyc

.installed.cfg
bin
develop-eggs
eggs
.eggs
.idea
*.egg-info

tmp
build
dist
docs
.coverage

*~
debian/python-etcd/
debian/python3-etcd/
debian/*.substvars
debian/*.debhelper.log
debian/files
debian/*.debhelper
